<!-- navbar starts -->

<section id="navbar">
    <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-me">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/']"
                    >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/aboutUs']">About Us</a>
                </li>
                <li class="nav-item dropdown ml-auto" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> Gallery </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['/imageGallery']">Images</a>
                        <a class="dropdown-item" [routerLink]="['/videoGallary']">Video</a>
                    </div>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/rabbitFarming']">Rabbit Farming</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/contactUs']">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</section>
<!-- navbar ends -->