<!-- footer -->
<footer class="p-tb50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div>
                    <h5 class="colorWhite openSans colorWhite footerTitle m-btm25">About Brother Rabbit</h5>
                    <p class="colorWhite openSans">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="">
                    <h5 class="colorWhite openSans footerTitle m-btm25">Gallery</h5>
                    <ul class="footerImages">
                        <li><img src="../../../assets/images/slider1.jpg" /></li>
                        <li><img src="../../../assets/images/slider2.jpg" /></li>
                        <li><img src="../../../assets/images/slider3.jpg" /></li>
                        <li><img src="../../../assets/images/rabbit1.jpg" /></li>
                        <li><img src="../../../assets/images/getInTouch.jpg" /></li>
                        <li><img src="../../../assets/images/slider1.jpg" /></li>
                        <li><img src="../../../assets/images/slider2.jpg" /></li>
                        <li><img src="../../../assets/images/slider3.jpg" /></li>
                        <li><img src="../../../assets/images/rabbit1.jpg" /></li>
                        <li><img src="../../../assets/images/getInTouch.jpg" /></li>
                        <li><img src="../../../assets/images/slider1.jpg" /></li>
                        <li><img src="../../../assets/images/slider2.jpg" /></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                <div class="">
                    <h5 class="colorWhite openSans footerTitle m-btm25">View Map</h5>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15224.999272541634!2d78.36776457704734!3d17.447753158677916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93dc8c5d69df%3A0x19688beb557fa0ee!2sHITEC%20City%2C%20Hyderabad%2C%20Telangana%20500081!5e0!3m2!1sen!2sin!4v1579848944010!5m2!1sen!2sin"
                        width="100%" height="250px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="">
                    <h5 class="colorWhite openSans footerTitle m-btm25">REACH US</h5>
                </div>
                <div>
                    <h6><small>
                            <div class="openSans colorWhite">
                                <p>V. Prashanth Kumar (6303585252)</p>
                                <p>V. Pradeep Kumar (9704859153).</p>
                                <p>prashanth.varanasi@gmail.com.</p>
                                <p>pradeepkvaranasi@gmail.com.</p>
                                <p>http://ammasrabbitfarm.com.</p>
                                <p>Koheda Village Hyderabad 501511.</p>
                            </div>
                        </small></h6>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->