<!-- caurosel starts -->
<section>

  <div id="homeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#homeSlider" data-slide-to="0" class="active"></li>
      <li data-target="#homeSlider" data-slide-to="1"></li>
      <li data-target="#homeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('../../assets/images/rabbit6.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">First Slide</h2>
          <p class="lead">This is a description for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('../../assets/images/slider3.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Second Slide</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('../../assets/images/slider3.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Third Slide</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#homeSlider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#homeSlider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>

</section>
<!-- caurosel ends -->

<!-- multi image slider -->
<section class="p-tb50">
  <h1 class="sectionHeader openSans themeColor text-capitalize text-center m-btm50">Our recent work</h1>
  <div class="container-fluid">
    <div class="row">
      <!-- multi slider -->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div id="carouselExampleIndicators" class="carousel slide container" data-ride="carousel" data-interval="1000">
          <!-- <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol> -->
          <div class="carousel-inner">
            <div class="carousel-item active row">
              <div class="row">
                <div class="col-6 col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h1>1 of 3</h1>
                      <img src="../../../assets/images/rabbit1.jpg" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h1>1 of 3</h1>
                      <img src="../../../assets/images/rabbit5.jpg" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-md-block d-none">
                  <div class="card">
                    <div class="card-body">
                      <h1>1 of 3</h1>
                      <img src="../../../assets/images/rabbit5.jpg" class="img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-6 col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h1>2 of 3</h1>
                      <img src="../../../assets/images/rabbit5.jpg" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h1>2 of 3</h1>
                      <img src="../../../assets/images/rabbit5.jpg" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-md-block d-none">
                  <div class="card">
                    <div class="card-body">
                      <h1>2 of 3</h1>
                      <img src="../../../assets/images/rabbit5.jpg" class="img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-6 col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h1>3 of 3</h1>
                      <img src="../../../assets/images/rabbit5.jpg" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h1>3 of 3</h1>
                      <img src="../../../assets/images/rabbit5.jpg" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-md-block d-none">
                  <div class="card">
                    <div class="card-body">
                      <h1>3 of 3</h1>
                      <img src="../../../assets/images/rabbit5.jpg" class="img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
      <!-- multi slider -->
      <!-- Description starts -->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h6 class="contentAlign">
          <p class="openSans">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </h6>
      </div>
      <!-- Description starts -->
    </div>
  </div>
</section>
<!-- multi image ends -->



<!-- Training -->
<section class="p-tb50 trainingSection">
  <h1 class="sectionHeader openSans themeColor text-capitalize text-center m-btm50">Training</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        

          <div id="accordion" class="accordion">
              <div class="card-header collapsed" data-toggle="collapse" href="rRabbitFood">
                  <a class="card-title">
                      Rabbit Food
                  </a>
              </div>
              <div id="rRabbitFood" class="card-body collapse show" data-parent="#accordion">
                  <div class="">
                      <div class="row my-4">
                        <div class="col-md-8">
                          <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                          <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                          <div class="view z-depth-1">
                            <img src="../../../assets/images/rabbit1.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#rabbitshelter">
                  <a class="card-title">
                      Rabbit shelter / Shed
                  </a>
              </div>
              <div id="rabbitshelter" class="card-body collapse" data-parent="#accordion" >
                  <div class="">
                      <div class="row my-4">
                        <div class="col-md-8">
                          <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                          <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                          <div class="view z-depth-1">
                            <img src="../../../assets/images/rabbit5.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#rabbitCageMaking">
                  <a class="card-title">
                      Rabbit Cage making
                  </a>
              </div>
              <div id="rabbitCageMaking" class="collapse" data-parent="#accordion" >
                  <div class="card-body">
                      <div class="row my-4">
                        <div class="col-md-8">
                          <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                          <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                          <div class="view z-depth-1">
                            <img src="../../../assets/images/rabbit7.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#rabbitBreeds">
                  <a class="card-title">
                      Rabbit Breeds
                  </a>
              </div>
              <div id="rabbitBreeds" class="collapse" data-parent="#accordion" >
                  <div class="card-body">
                      <div class="row my-4">
                        <div class="col-md-8">
                          <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                          <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                          <div class="view z-depth-1">
                            <img src="../../../assets/images/rabbit7.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

          <div id="accordion1" class="accordion1">
              <div class="card-header collapsed" data-toggle="collapse" href="#challengesInProduction">
                  <a class="card-title">
                      Challenges in production
                  </a>
              </div>
              <div id="challengesInProduction" class="collapse show" data-parent="#accordion1">
                  <div class="card-body">
                      <div class="row my-4">
                        <div class="col-md-8">
                          <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                          <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                          <div class="view z-depth-1">
                            <img src="../../../assets/images/rabbit7.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion1" href="#medication">
                  <a class="card-title">
                      Medication
                  </a>
              </div>
              <div id="medication" class="collapse" data-parent="#accordion1" >
                  <div class="card-body">
                      <div class="row my-4">
                        <div class="col-md-8">
                          <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                          <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                          <div class="view z-depth-1">
                            <img src="../../../assets/images/rabbit6.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion1" href="#marketing">
                  <a class="card-title">
                      Marketing
                  </a>
              </div>
              <div id="marketing" class="collapse" data-parent="#accordion1" >
                  <div class="card-body">
                      <div class="row my-4">
                        <div class="col-md-8">
                          <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                          <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                          <div class="view z-depth-1">
                            <img src="../../../assets/images/getInTouch1.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion1" href="#financials">
                  <a class="card-title">
                      Financials
                  </a>
              </div>
              <div id="financials" class="collapse" data-parent="#accordion1" >
                  <div class="card-body">
                      <div class="row my-4">
                        <div class="col-md-8">
                          <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                          <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                          <div class="view z-depth-1">
                            <img src="../../../assets/images/getInTouch.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>

      </div>
    </div>
  </div>
  
</section>
<!-- Training -->


<!-- Get in touch starts-->
<section class="getInTouchMain p-tb50">
    <h1 class="sectionHeader openSans themeColor text-capitalize text-center m-btm50">Get In Touch</h1>
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-4 col-sm-12 col-xs-12">
        <div class=" p-tb50 getInTouchInner">
          <hr />
          <div class="getInTouchForm">

            <form [formGroup]="getInTouch" (ngSubmit)="getInTouchSubmit()">
              <div class="form-group">
                <input type="text" class="form-control  form-control-lg" formControlName="username" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control  form-control-lg" formControlName="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control  form-control-lg" formControlName="mobileNumber" required
                  placeholder="Mobile Number">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Get in touch ends-->