<div class="routingContent">

    <h1 class="text-center colorWhite display-2 openSans">Rabbit Forming</h1>
  
  </div>
  
  <div class="p-tb50 contactUsArea">

        <div class="container-fluid pb-video-container">

            <section class="trainingSection">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          
                  
                            <div id="accordion" class="accordion">
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion12" href="rRabbitFood">
                                    <a class="card-title">
                                        Rabbit Food
                                    </a>
                                </div>
                                <div id="rRabbitFood" class="card-body collapse show" data-parent="#accordion">
                                    <div class="">
                                        <div class="row my-4">
                                          <div class="col-md-8">
                                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                              ullamco laboris</p>
                                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                              fugiat nulla pariatur.</p>
                                          </div>
                                          <div class="col-md-4 mt-3 pt-2">
                                            <div class="view z-depth-1">
                                              <img src="../../../assets/images/rabbit1.jpg" alt="" class="img-fluid">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#rabbitshelter">
                                    <a class="card-title">
                                        Rabbit shelter / Shed
                                    </a>
                                </div>
                                <div id="rabbitshelter" class="card-body collapse" data-parent="#accordion" >
                                    <div class="">
                                        <div class="row my-4">
                                          <div class="col-md-8">
                                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                              ullamco laboris</p>
                                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                              fugiat nulla pariatur.</p>
                                          </div>
                                          <div class="col-md-4 mt-3 pt-2">
                                            <div class="view z-depth-1">
                                              <img src="../../../assets/images/rabbit5.jpg" alt="" class="img-fluid">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#rabbitCageMaking">
                                    <a class="card-title">
                                        Rabbit Cage making
                                    </a>
                                </div>
                                <div id="rabbitCageMaking" class="collapse" data-parent="#accordion" >
                                    <div class="card-body">
                                        <div class="row my-4">
                                          <div class="col-md-8">
                                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                              ullamco laboris</p>
                                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                              fugiat nulla pariatur.</p>
                                          </div>
                                          <div class="col-md-4 mt-3 pt-2">
                                            <div class="view z-depth-1">
                                              <img src="../../../assets/images/rabbit7.jpg" alt="" class="img-fluid">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#rabbitBreeds">
                                    <a class="card-title">
                                        Rabbit Breeds
                                    </a>
                                </div>
                                <div id="rabbitBreeds" class="collapse" data-parent="#accordion" >
                                    <div class="card-body">
                                        <div class="row my-4">
                                          <div class="col-md-8">
                                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                              ullamco laboris</p>
                                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                              fugiat nulla pariatur.</p>
                                          </div>
                                          <div class="col-md-4 mt-3 pt-2">
                                            <div class="view z-depth-1">
                                              <img src="../../../assets/images/rabbit7.jpg" alt="" class="img-fluid">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#challengesInProduction">
                                    <a class="card-title">
                                        Challenges in production
                                    </a>
                                </div>
                                <div id="challengesInProduction" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row my-4">
                                          <div class="col-md-8">
                                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                              ullamco laboris</p>
                                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                              fugiat nulla pariatur.</p>
                                          </div>
                                          <div class="col-md-4 mt-3 pt-2">
                                            <div class="view z-depth-1">
                                              <img src="../../../assets/images/rabbit7.jpg" alt="" class="img-fluid">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#medication">
                                    <a class="card-title">
                                        Medication
                                    </a>
                                </div>
                                <div id="medication" class="collapse" data-parent="#accordion" >
                                    <div class="card-body">
                                        <div class="row my-4">
                                          <div class="col-md-8">
                                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                              ullamco laboris</p>
                                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                              fugiat nulla pariatur.</p>
                                          </div>
                                          <div class="col-md-4 mt-3 pt-2">
                                            <div class="view z-depth-1">
                                              <img src="../../../assets/images/rabbit6.jpg" alt="" class="img-fluid">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#marketing">
                                    <a class="card-title">
                                        Marketing
                                    </a>
                                </div>
                                <div id="marketing" class="collapse" data-parent="#accordion" >
                                    <div class="card-body">
                                        <div class="row my-4">
                                          <div class="col-md-8">
                                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                              ullamco laboris</p>
                                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                              fugiat nulla pariatur.</p>
                                          </div>
                                          <div class="col-md-4 mt-3 pt-2">
                                            <div class="view z-depth-1">
                                              <img src="../../../assets/images/getInTouch1.jpg" alt="" class="img-fluid">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#financials">
                                    <a class="card-title">
                                        Financials
                                    </a>
                                </div>
                                <div id="financials" class="collapse" data-parent="#accordion" >
                                    <div class="card-body">
                                        <div class="row my-4">
                                          <div class="col-md-8">
                                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                              ullamco laboris</p>
                                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                              fugiat nulla pariatur.</p>
                                          </div>
                                          <div class="col-md-4 mt-3 pt-2">
                                            <div class="view z-depth-1">
                                              <img src="../../../assets/images/getInTouch.jpg" alt="" class="img-fluid">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                  
                        </div>
                      </div>
                    </div>
                    
                  </section>
            </div>
            </div>

